<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo da Escola" />
      <h1>Keystone English</h1>
    </div>
    <div class="nav-buttons">
      <nav class="nav">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/cursos">Cursos</a></li>
          <li><a routerLink="/metodo">Método</a></li>
          <li><a routerLink="/contato">Contato</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </nav>
      <div class="buttons">
        <button class="btn login">Login</button>
        <button class="btn cadastrar">Cadastre-se</button>
      </div>
    </div>
  </div>
</header>
