<footer class="footer mt-5 py-4" style="background-color: var(--cor-primaria)">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h5 class="text-white">Sobre Nós</h5>
        <p class="text-white" style="color: var(--cor-texto-primaria)">
          Sua jornada para a fluência em inglês começa aqui. Oferecemos cursos
          online inovadores para todas as idades e níveis.
        </p>
      </div>
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <h5 class="text-white">Links Úteis</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="#"
              class="text-white"
              style="color: var(--cor-texto-primaria)"
              >Método de Ensino</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-white"
              style="color: var(--cor-texto-primaria)"
              >Cursos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-white"
              style="color: var(--cor-texto-primaria)"
              >Depoimentos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-white"
              style="color: var(--cor-texto-primaria)"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-white"
              style="color: var(--cor-texto-primaria)"
              >Contato</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <h5 class="text-white">Siga-nos</h5>
        <div class="social-icons">
          <a href="#" target="_blank" class="text-white me-3">
            <i class="fab fa-facebook fa-2x"></i
          ></a>
          <a href="#" target="_blank" class="text-white me-3">
            <i class="fab fa-instagram fa-2x"></i
          ></a>
          <a href="#" target="_blank" class="text-white">
            <i class="fab fa-youtube fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p class="text-white" style="color: var(--cor-texto-primaria)">
          © 2023 Keystone English. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
