h2,
p {
  color: var(--cor-texto-primaria);
}
.mapa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, var(--cor-fundo), var(--cor-primaria));
}

.mapa {
  width: 100%; /* Reduz a largura do mapa para 80% */
  height: 400px;
  margin: 0;
}

@media (max-width: 480px) {
  h2,
  p {
    margin-left: 10px;
  }
  .mapa {
    height: 250px;
  }
}
