.card {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--cor-primaria-transparente),
    var(--cor-fundo-alternativa-transparente)
  );
  border: none;
  max-width: 60%;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden; /* Impede que a imagem ultrapasse as bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transições suaves */
}

.card:hover {
  transform: translateY(
    -5px
  ); /* Move o card ligeiramente para cima ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.card img {
  padding-top: 1.5rem;
  padding-left: 1rem;
  height: 180px;
  object-fit: cover; /* Garante que a imagem cubra toda a área, mesmo com diferentes proporções */
}

.card-body {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  color: var(--cor-texto-primaria);
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  color: var(--cor-texto-secundaria);
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 0.4rem;
  border-radius: 4px;
  text-decoration: none;
  color: var(--cor-texto-primaria);
  background-color: var(--cor-secundaria);
  border-color: var(--cor-destaque-1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.artigo-control {
  display: flex;
  max-width: 6.8rem;
  justify-content: space-between;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    margin: 1rem 0;
  }

  .card img {
    padding: 1rem;
    object-fit: contain; /* Para garantir que toda a imagem seja exibida */
  }

  .artigo-control {
    justify-content: flex-start;
  }
}
