#ensino {
  background-image: url("/assets/imagens/ondas-sonoras.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

#ensino h2 {
  color: var(--cor-texto-primaria);
  font-weight: 700;
  padding: 10px 15px;
  padding-left: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title-container {
  background-color: var(--cor-destaque-1);
  padding: 0 20px;
  border-radius: 8px;
}

#ensino p {
  color: var(--cor-texto-primaria);
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: left; /* Texto alinhado à esquerda */
}

/* Estilizando os ícones */
#ensino .metodo {
  text-align: left; /* Conteúdo alinhado à esquerda */
  margin-bottom: 30px;
}

#ensino .metodo p {
  margin-left: 80px;
}

#ensino .metodo i {
  font-size: 3rem;
  color: var(--cor-destaque-1);
  margin-top: 20px;
  margin-bottom: 15px;
  float: left; /* Ícone à esquerda do texto */
  margin-right: 20px; /* Espaçamento entre o ícone e o texto */
}

#ensino .metodo h4 {
  /* Cor do h4 */
  margin-left: 80px;
  color: var(--cor-texto-primaria);
}

/* Responsividade */
@media (max-width: 768px) {
  #ensino {
    padding: 30px 20px;
  }

  #ensino .metodo {
    margin-bottom: 20px;
  }

  #ensino .metodo i {
    font-size: 2.5rem; /* Ajusta o tamanho do ícone em telas menores */
    margin-right: 15px;
  }
}
