<section id="ensino" class="container">
  <div class="section-title">
    <div class="title-container">
      <h2>Nosso Método de Ensino</h2>
    </div>
    <p>
      Descubra como tornamos o aprendizado do inglês eficaz, envolvente e
      prazeroso.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 metodo">
      <i class="fas fa-comments"></i>
      <h4>Foco na Comunicação</h4>
      <p>
        Acreditamos que a melhor forma de aprender inglês é praticando a
        comunicação desde o primeiro dia. Nossas aulas são dinâmicas e
        participativas, com atividades que incentivam a conversação em inglês de
        forma natural e espontânea.
      </p>
    </div>

    <div class="col-md-4 metodo">
      <i class="fas fa-users"></i>
      <h4>Turmas Reduzidas</h4>
      <p>
        Em nossas turmas reduzidas, você recebe atenção individualizada dos
        nossos professores experientes. Essa proximidade permite um
        acompanhamento personalizado do seu progresso, além de criar um ambiente
        de aprendizado mais acolhedor e colaborativo.
      </p>
    </div>

    <div class="col-md-4 metodo">
      <i class="fas fa-puzzle-piece"></i>
      <h4>Metodologia Interativa</h4>
      <p>
        Utilizamos uma metodologia interativa e inovadora, que combina técnicas
        tradicionais com recursos digitais, jogos e atividades práticas. Nosso
        objetivo é tornar o aprendizado do inglês mais estimulante, engajador e
        memorável para você.
      </p>
    </div>
  </div>
</section>
