.cursos-section {
  position: relative;
  text-align: left; /* Alinha o texto à esquerda */
  overflow: hidden;
  margin-top: 0.3rem;
  background: linear-gradient(
    to bottom right,
    var(--cor-primaria),
    var(--cor-fundo-alternativa)
  );
  border-radius: 16px 16px 0 0;
  padding: 30px 0; /* Adicione um espaçamento interno */
}

.cursos-content {
  /* Container para o conteúdo da página */
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre a imagem e o texto */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Centraliza o container */
  padding: 0 20px; /* Adicione um espaçamento interno */
}

.image-container {
  width: 50%;
}

.img-fluid {
  clip-path: ellipse(80% 70% at 50% 30%);
  width: 100%; /* A imagem ocupa 100% da largura do container */
  height: auto; /* A altura é ajustada automaticamente */
}

.text-container {
  /* Container para o texto */
  width: 45%;
  color: white;
}

h2 {
  color: var(--cor-texto-primaria);
  font-family: Raleway;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* Estilos para os cards das categorias */
#h2-cat {
  position: absolute; /* Posiciona em relação ao elemento pai posicionado */
  top: 0; /* Ajuste a distância do topo */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  z-index: 2; /* Garante que fique acima da imagem de fundo */
}
.categorias {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem em várias linhas */
  justify-content: space-between;
  padding: 2rem 5rem;
}

.categorias-section {
  padding: 6rem 0 2rem 0;
  background-image: url("/assets/imagens/bandeiras.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
  position: relative;
}

.categorias-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor e opacidade da sobreposição */
  z-index: 0; /* Garante que a sobreposição fique abaixo dos cards */
}

.card {
  width: 33%; /* Ajuste a largura dos cards conforme necessário */
  margin-bottom: 20px;
  background-image: inherit;
  background-position: 50% 20%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Cor de fundo semi-transparente */
  padding: 20px;
  border-radius: 8px;
  position: relative; /* Posicionamento relativo para o card */
  z-index: 1; /* Garante que o conteúdo do card fique acima da imagem de fundo */
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.faixa-etaria {
  background-color: var(--cor-destaque-2);
  color: white;
  font-size: 0.6em;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 10px; /* Ajuste o espaçamento conforme necessário */
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 8px;
}

.card a {
  color: var(--cor-primaria); /* Cor do link */
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .cursos-content {
    flex-direction: column-reverse; /* Imagem acima do texto em telas menores */
    text-align: center;
  }

  .image-container {
    width: 50%; /* Ajuste a largura da imagem e do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
  }

  .text-container {
    width: 90%;
  }

  h2 {
    font-size: 2em;
  }

  .card {
    width: 40%; /* Ajuste a largura dos cards em telas menores */
  }

  .faixa-etaria {
    position: absolute;
  }
}
