<section class="cursos-section">
  <div class="cursos-content">
    <div class="text-container">
      <h2>Aprenda Inglês com Quem Entende!</h2>
      <p>
        Nossos cursos são desenvolvidos para oferecer uma experiência completa
        de aprendizado, com foco na comunicação eficaz e na fluência em inglês.
      </p>
    </div>

    <div class="image-container">
      <img
        src="https://res.cloudinary.com/dxokgmnnc/image/upload/v1734039310/grupo-estudantes_ag9qil.webp"
        appCarregarImagem
        alt="Cursos de Inglês"
        class="img-fluid"
      />
    </div>
  </div>
</section>

<section class="categorias-section">
  <h2 id="h2-cat">Cursos Disponíveis</h2>
  <div class="container">
    <div class="categorias">
      <div *ngFor="let modalidade of modalidades" class="card">
        <h3>
          {{ modalidade }}
          <span class="faixa-etaria">{{ obterFaixaEtaria(modalidade) }}</span>
        </h3>
        <ul>
          <li *ngFor="let curso of cursos">
            <a
              *ngIf="curso.modalidade === modalidade"
              [routerLink]="['/cursos', curso._id]"
              >{{ curso.titulo }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
