<section id="professores" class="professores-section">
  <div class="title">
    <h2>Nossos Professores</h2>
    <p>
      Conheça a equipe de professores altamente qualificados que torna o
      aprendizado do inglês uma experiência única e eficaz.
    </p>
  </div>
  <div id="professores-container" class="container">
    <div
      *ngFor="let professor of professores; let i = index"
      class="card-container"
      [class.reverse]="i % 2 === 1"
    >
      <div class="card">
        <img
          [src]="professor.foto"
          class="card-img-top"
          [alt]="professor.nome"
        />
        <div class="card-body">
          <h3>
            {{ professor.nome }}
          </h3>
          <p>{{ professor.biografia }}</p>
          <p>
            <small class="text-muted">
              Formação: {{ professor.formacao }} <br />
              Especialidades: {{ professor.especialidades }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
