.header {
  background: linear-gradient(to right, var(--cor-primaria), var(--cor-fundo));
  color: var(--cor-texto-primaria);
  padding: 1rem 0;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

/* Agrupando nav e botões */
.nav-buttons {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 20px; /* Espaçamento entre os itens do nav */
  cursor: pointer;
}

.nav-links {
  transition: transform 0.2s ease;
}

.nav-links:hover {
  transform: scale(1.1);
}

.nav a {
  color: var(--cor-texto-primaria);
  text-decoration: none;
  font-weight: 500;
}

.buttons {
  display: flex;
  margin-left: 20px; /* Espaçamento entre nav e botões */
}

.btn {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-primaria);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  color: var(--cor-texto-primaria);
  background-color: var(--cor-fundo);
  transition-delay: 0.1s;
}

.hamburger {
  display: none; /* Oculta o botão em telas grandes */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10; /* Garante que o botão fique acima do menu */
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: var(--cor-texto-primaria);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(
    to bottom right,
    var(--cor-primaria),
    var(--cor-fundo-alternativa)
  );
  min-width: 100px;
  margin-top: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.user-dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content a {
  color: var(--cor-texto-primaria);
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.user-actions {
  position: relative; /* Para posicionar o dropdown */
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Mostra o botão em telas menores */
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%; /* Esconde o menu inicialmente */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    z-index: 9;
  }

  .btn,
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav.active {
    right: 0; /* Mostra o menu quando ativo */
  }

  .nav ul {
    flex-direction: column; /* Alinha os itens verticalmente */
    text-align: center;
  }

  .nav li {
    margin: 10px 0; /* Espaçamento vertical entre os itens */
  }

  .btn {
    padding: 0.8rem 1em;
  }

  .btn.active {
    margin-top: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Alinha o dropdown à direita */
  }

  .user-actions {
    order: -1;
    align-self: flex-start; /* Alinha o dropdown ao topo do li */
    margin-right: 10px;
  }
  .user-dropdown a {
    font-size: large;
  }
  .user-dropdown:hover .dropdown-content {
    display: block;
  }

  .auth-btn {
    display: flex;
    flex-direction: row;
  }

  .hidden {
    display: none;
  }
}
