<header class="header">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="assets/logo.png" alt="Logo da Escola" />
      </a>
      <h1>Keystone English</h1>
    </div>
    <div class="nav-buttons">
      <button class="hamburger" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <nav class="nav" [class.active]="menuOpen">
        <ul>
          <li class="nav-links"><a [routerLink]="['/home']">Home</a></li>
          <li class="nav-links"><a [routerLink]="['/cursos']">Cursos</a></li>
          <li class="nav-links"><a [routerLink]="['/metodo']">Método</a></li>
          <li class="nav-links"><a [routerLink]="['/contato']">Contato</a></li>
          <li class="nav-links"><a [routerLink]="['/blog']">Blog</a></li>
        </ul>
      </nav>
      <div class="user-actions">
        <div *ngIf="authService.isLoggedIn$ | async">
          <div class="user-dropdown">
            <a
              >Olá, {{ (authService.currentUser$ | async)?.name }}!
              <i class="fa-solid fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
              <a (click)="logout()">Sair</a>
            </div>
          </div>
        </div>

        <div class="auth-btn" [class.hidden]="authService.isLoggedIn$ | async">
          <a class="btn" (click)="abrirModalLogin()">Login</a>
          <a class="btn" (click)="abrirModalCadastro()">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</header>
