<div class="curso-grid-container">
  <div class="curso-grid">
    <div class="curso-card" *ngFor="let curso of cursos">
      <div class="curso-card-content">
        <img
          src="{{ curso.imagem }}"
          appCarregarImagem
          alt="{{ curso.titulo }}"
          class="curso-imagem"
        />
        <div class="curso-overlay">
          <div class="curso-titulo">
            {{ curso.titulo }}
          </div>
          <div class="curso-descricao">
            {{ curso.descricao }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
