.container {
  margin-top: 0.3rem;
  width: 100%;
  background: linear-gradient(
    to bottom left,
    var(--cor-fundo-alternativa),
    var(--cor-primaria)
  );
}

.curso-card {
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 250px; /* Largura máxima */
  margin: 25px auto; /* Margem automática para centralizar */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  padding: 0 15px; /* Adiciona padding horizontal para espaçamento */
}

.card {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.card-title {
  margin: 0;
}

.card-text {
  margin-bottom: 0;
}

.bg-primary {
  position: relative;
  width: auto;
  padding: 15px;
  text-align: left;
  background-color: var(--cor-destaque-1);
  color: var(--cor-texto-primaria);
}

.bg-primary h5 {
  font-size: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Queries para responsividade */
@media (min-width: 768px) {
  .curso-card {
    width: calc(25% - 10px); /* Dois cards por linha em telas médias */
  }
}
