<app-blog-banner [artigo]="artigo" [isArticleDetail]="true" />

<div *ngIf="isLoading">Carregando artigo...</div>

<div class="artigo-detalhes" *ngIf="!isLoading && artigo">
  <h2>{{ artigo.title }}</h2>
  <img
    *ngIf="artigo.imageUrl"
    [src]="artigo.imageUrl"
    alt="{{ artigo.title }}"
  />
  <div class="content-container">
    <p [innerHTML]="artigo.content | nl2br">{{ artigo.content }}</p>
  </div>
  <p>
    <small>Publicado em: {{ artigo.createdAt | date }}</small
    ><br />
    <small>Por: {{ artigo.author }}</small
    ><br />
    <small>Categoria: {{ artigo.category }}</small>
  </p>

  <p><a [routerLink]="['/blog']">Voltar para o Blog</a></p>

  <app-artigo-comentarios [artigoId]="artigo._id"></app-artigo-comentarios>
</div>

<div *ngIf="!isLoading && !artigo">Artigo não encontrado.</div>
