<section class="main-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 image-container">
        <img
          src="assets/imagens/estudantes.jpg"
          alt="Estudantes da Keystone English"
          class="img-fluid"
        />
        <div class="slogan-container text-center">
          <h1 class="slogan">Abrindo portas para o mundo.</h1>
          <a routerLink="/cursos" class="btn btn-primary"
            >Conheça nossos cursos</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
