/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lora");

:root {
  --cor-primaria: #293d71; /* Azul Escuro - versão mais profunda do azul royal  */
  --cor-secundaria: #d4af37; /* Dourado Quente -  combina com o azul escuro */
  --cor-fundo: #121212; /* Cinza Escuro -  base para o tema dark */
  --cor-fundo-alternativa: #1f1f1f; /* Cinza escuro alternativo -  sutil variação para elementos */

  /* Paleta Secundária */
  --cor-destaque-1: #00a86b; /* Verde Esmeralda -  contraste vibrante e elegante */
  --cor-destaque-2: #c24940; /* Vermelho Escuro -  menos agressivo que o original */

  /* Cores Neutras */
  --cor-texto-primaria: #f5f5f5; /* Cinza muito claro -  alta legibilidade no fundo escuro */
  --cor-texto-secundaria: #b3b3b3; /* Cinza claro -  para textos secundários */

  /* Transparentes */
  --cor-primaria-transparente: rgba(41, 61, 113, 0.5);
  --cor-fundo-alternativa-transparente: rgba(31, 31, 31, 0.5);
  --cor-primaria-transparente-leve: rgba(41, 61, 113, 0.8);
  --cor-fundo-alternativa-transparente-leve: rgba(31, 31, 31, 0.8);
}

body {
  background: linear-gradient(
    to left,
    var(--cor-fundo),
    var(--cor-fundo-alternativa)
  );
  font-family: "Roboto", sans-serif;
}
