<section class="blog-main">
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar artigos..."
      [formControl]="filtroBusca"
      class="search-input"
    />

    <div class="filter-buttons">
      <button
        (click)="alterarCriterio('titulo')"
        [class.active]="criterioBusca === 'titulo'"
        class="filter-button"
      >
        Título
      </button>
      <button
        (click)="alterarCriterio('autor')"
        [class.active]="criterioBusca === 'autor'"
        class="filter-button"
      >
        Autor
      </button>
      <button
        (click)="alterarCriterio('categoria')"
        [class.active]="criterioBusca === 'categoria'"
        class="filter-button"
      >
        Categoria
      </button>
    </div>
  </div>

  <!-- Indicador de carregamento -->
  <div *ngIf="isLoading">
    <p>Carregando artigos...</p>
  </div>

  <!-- Botão para criar artigo (admin) -->
  <button
    *ngIf="authService.getRole() === 'admin'"
    (click)="abrirModalNovoPost()"
  >
    Criar Artigo
  </button>

  <!-- Listagem de artigos -->
  <div *ngIf="artigos$ | async as artigos; else noArticles">
    <div *ngFor="let artigo of artigosFiltrados(artigos)">
      <app-artigo-card
        [artigo]="artigo"
        [modalContainer]="modalContainer"
        (artigoEditado)="reloadArtigos()"
        (artigoExcluido)="reloadArtigos()"
      >
      </app-artigo-card>
    </div>
  </div>

  <!-- Mensagem se não houver artigos -->
  <ng-template #noArticles>
    <div *ngIf="!isLoading">
      <p>Ainda não há nenhum artigo. Clique aqui para criar o primeiro:</p>
      <!-- Botão para criar artigo duplicado para manter o layout consistente -->
      <button
        *ngIf="authService.getRole() === 'admin'"
        (click)="abrirModalNovoPost()"
      >
        Criar Artigo
      </button>
    </div>
  </ng-template>
</section>

<ng-template #modal></ng-template>
