.sobre-escola {
  background-color: var(--cor-fundo-alternativa);
  padding: 3rem 2rem;
}

.sobre-escola-container {
  display: flex;
  flex-direction: column;
  gap: 3rem; /* Espaçamento entre os itens */
}

.sobre-escola-item {
  width: 100%; /* garante que ocupe toda a largura */
}

.sobre-escola-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Inverte a ordem nos itens pares */
.sobre-escola-content--reverse {
  flex-direction: row-reverse;
}

.sobre-escola-texto {
  text-align: left;
}

.sobre-escola-titulo {
  color: var(--cor-texto-primaria);
  font-weight: 700;
  background-color: var(--cor-destaque-2);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.sobre-escola-descricao {
  color: var(--cor-texto-primaria);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.sobre-escola-imagem {
  width: 100%;
}

.sobre-escola img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 100%;
  display: block; /* Impede espaço extra abaixo da imagem */
}

@media (max-width: 768px) {
  .sobre-escola-content {
    flex-direction: column; /* Texto sempre em cima em telas menores */
  }
}

@media (max-width: 480px) {
  .sobre-escola-titulo {
    font-size: 1.1em;
  }

  .sobre-escola-descricao {
    font-size: 0.9em;
  }

  .sobre-escola-imagem {
    width: 95%;
  }
}
