<section class="sobre-escola">
  <div class="sobre-escola-container">
    <div
      class="sobre-escola-item"
      *ngFor="let item of sobreEscolaData; let i = index"
    >
      <div
        class="sobre-escola-content"
        [class.sobre-escola-content--reverse]="i % 2 === 0"
      >
        <div class="sobre-escola-texto">
          <h2 class="sobre-escola-titulo">{{ item.titulo }}</h2>
          <p class="sobre-escola-descricao">{{ item.descricao }}</p>
        </div>
        <div class="sobre-escola-imagem">
          <img src="{{ item.imagem }}" alt="{{ item.alt }}" />
        </div>
      </div>
    </div>
  </div>
</section>
